<div class="addNewBook mt-4">
    <form action="/books" method="post">
        <div class="form-group formCustom">
          <label for="book">Add New Book</label>
          <input type="text" class="form-control" id="book" name="book">
        </div>
        <div class="form-group formCustom">
            <label for="auther">Auther</label>
            <input type="text" class="form-control" id="auther" name="auther">
        </div>
        <div class="form-group formCustom">
            <label for="genres">Genres</label>
            <input type="text" class="form-control" id="genres"  name="genres">
        </div>
        <div class="form-group formCustom">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div class="form-group formCustom">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>